extends layout
block content
	section
		h2 About Us
		p
			| Welcome to our company's About page. Learn more about who we are, our vision, and our mission.
		
	section
		h3 Vision
		p
		| Our vision is to [...]. Add a description of your company's vision here.

	section
		h3 Mission
		p
		| Our mission is to [...]. Add a description of your company's mission here.
