extends layout 
block content
    #fh5co-contact(data-section="contact")
        .container
            .row
                .col-md-6.to-animate-2
                    h3 Contact Info
                    ul.fh5co-contact-info
                    li.fh5co-contact-address
                        i.icon-home
                        | 5555 Love Paradise 56 New Clity 5655,
                        br
                        | Excel Tower United Kingdom
                    li
                        i.icon-phone
                        | (123) 465-6789
                    li
                        i.icon-envelope
                        | info@freehtml5.co
                    li
                        i.icon-globe
                        a(href="http://freehtml5.co/" target="_blank") freehtml5.co