extends layout 
block content
    .flexslider
        ul.about.slides
            li
                img(src="/images/building-night_1127-3365.jpg", alt='Slider Image 1', style="height:64%;")
            li
                img(src="/images/home1.jpg", alt='Slider Image 2', style="height:64%;")
            li
                img(src="/images/suite1.jpg", alt='Slider Image 3', style="height:64%;")
            li
                img(src="/images/home3.jpg", alt='Slider Image 3', style="height:64%;")
            li
                img(src="/images/home5.jpg", alt='Slider Image 3', style="height:64%;")
    a.btn.btn-primary.btn-outline(href="contact") Get in touch
    a.btn.btn-primary.btn-outline(href="roomsanddining") Head to Reservation