extends layout
block content
    #fh5co-container
    #fh5co-home.js-fullheight(data-section='home')
        .flexslider
        .fh5co-overlay
        .fh5co-text
            .container
            .row
                h1.to-animate
                img(src='bluemistlogo.png')