extends layout
block content
    #fh5co-menus(data-section='menu')
    .container
        .row.text-center.fh5co-heading.row-padded
        .col-md-8.col-md-offset-2
            h2.heading.to-animate Food Menu
            p.sub-heading.to-animate
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .row.row-padded
        .col-md-6
            .fh5co-food-menu.to-animate-2
            h2.fh5co-drinks Drinks
            ul
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_5.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Pineapple Juice
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $17.50
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_6.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Green Juice
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $7.99
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_7.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Soft Drinks
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $12.99
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_5.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Carlo Rosee Drinks
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $12.99
        .col-md-6
            .fh5co-food-menu.to-animate-2
            h2.fh5co-dishes Steak
            ul
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_3.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Beef Steak
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $17.50
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_4.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Tomato with Chicken
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $7.99
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_2.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Sausages from Italy
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $12.99
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_8.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Beef Grilled
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $12.99
        .col-md-6
            .fh5co-food-menu.to-animate-2
            h2.fh5co-drinks Drinks
            ul
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_5.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Pineapple Juice
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $17.50
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_6.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Green Juice
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $7.99
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_7.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Soft Drinks
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $12.99
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_5.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Carlo Rosee Drinks
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $12.99
        .col-md-6
            .fh5co-food-menu.to-animate-2
            h2.fh5co-dishes Steak
            ul
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_3.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Beef Steak
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $17.50
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_4.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Tomato with Chicken
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $7.99
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_2.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Sausages from Italy
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $12.99
                li
                .fh5co-food-desc
                    figure
                    img.img-responsive(src='images/res_img_8.jpg' alt='Free HTML5 Templates by FREEHTML5.co')
                    div
                    h3 Beef Grilled
                    p Far far away, behind the word mountains.
                .fh5co-food-pricing
                    | $12.99
        .row
        .col-md-4.col-md-offset-4.text-center.to-animate-2
            p
            a.btn.btn-primary.btn-outline(href='#') More Food Menu
