extends layout 
block content 
    #fh5co-contact(data-section="reservation")
        .container
            .row.text-center.fh5co-heading.row-padded
            .col-md-8.col-md-offset-2
                h2.heading.to-animate Booking
                p.sub-heading.to-animate Secure your reservation by filling out the form
            
            .col-md-6.to-animate-2
                h3 Table Booking
                form(action="/book-table", method="post") 
                    .form-group
                        label(for="name" class="sr-only") Name
                        input#name.form-control(placeholder="Name", type="text", name="name", required)
                    .form-group
                        label(for="email" class="sr-only") Email
                        input#email.form-control(placeholder="Email", type="email", name="email", required)
                    .form-group
                        label(for="occasion" class="sr-only") Occasion
                        select.form-control#occasion(name="occasion", required)
                            option(value="" disabled selected) Select an Occasion
                            option(value="Couples") Couples
                            option(value="Family") Family
                            option(value="Custom") Custom
                    .form-group
                        label(for="date" class="sr-only") Date
                        input#date.form-control(placeholder="Date & Time", type="date", name="date", required)
                    .form-group
                        label(for="message" class="sr-only") Message
                        textarea#message.form-control(placeholder="Message", cols="30", rows="5", name="message", required)
                    .form-group
                        input.btn.btn-primary(value="Send Message", type="submit")
            .col-md-6.to-animate-2
                h3 Room Booking
                form(action="/book-room", method="post") 
                    .form-group
                        label(for="name" class="sr-only") Name
                        input#name.form-control(placeholder="Name", type="text", name="name", required)
                    .form-group
                        label(for="email" class="sr-only") Email
                        input#email.form-control(placeholder="Email", type="email", name="email", required)
                    .form-group
                        label(for="date" class="sr-only") Date
                        input#date.form-control(placeholder="Date & Time", type="date", name="date", required)
                    .form-group
                        label(for="numNights" class="sr-only") No. of Nights
                        input#numNights.form-control(placeholder="No. of Nights", type="number", name="numNights", required)
                    .form-group
                        label(for="RoomType" class="sr-only") Room
                        select.form-control#RoomType(name="RoomType", required)
                            option(value="" disabled selected) Select a Room
                            option(value="Single Bed") Single Bed
                            option(value="Double Bed") Double Bed
                            option(value="Suite") Suite
                    .form-group
                        label(for="message" class="sr-only") Message
                        textarea#message.form-control(placeholder="Message", cols="30", rows="5", name="message", required)
                    .form-group
                        input.btn.btn-primary(value="Send Message", type="submit")