extends layout 
block content 
div#fh5co-contact 
div data-section="reservation"
			div.container
				div.row text-center fh5co-heading row-padded
					div.col-md-8 col-md-offset-2
						h2.heading to-animate (Reserve a Table)
						p.sub-heading to-animate (Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.)
						
					div.col-md-6 to-animate-2
						h3 (Table Reservation)
						div.form-group
							label for="name" .sr-only (Name)
							input#name 
                            input.form-control (placeholder="Name" type="text")
						
						div.form-group
							label for="email"
                            label.sr-only (Email)
							input#email
                            input.form-control (placeholder="Email" type="email")
						
						div.form-group
							label for="occation"
                            label.sr-only (Ocassion)
							select.form-control"
                            select#occation
								option Select an Ocassion
							    option Wedding Ceremony
							    option Birthday
							    option Others
							
						div.form-group
							label for="date"
                            label.sr-only (Date)
							input#date
                            input.form-control (placeholder="Date &amp; Time" type="text")
							
						div.form-group
							label for="message"
                            label.sr-only (Message)
							textarea name=""
                            textarea#message cols="30" rows="5"
                            textarea.form-control (placeholder="Message")
						
						div.form-group
							input.btn btn-primary (value="Send Message" type="submit")
						
						div.col-md-6 to-animate-2
						h3 Room Reservation
						div.form-group
							label for="name"
                            label.sr-only (Name)
							input#name
                            input.form-control (placeholder="Name" type="text")
						
						div.form-group
							label.sr-only for="email" Email
							input#email
                            input.form-control (placeholder="Email" type="email")

						div.form-group
							label.sr-only for="contact" Email
							input#contact
							input.form-control (placeholder="contact" type="text")
						
						div.form-group
							label.sr-only for="ocassion" Room
							select.form-control
                            select#room
							  option Select a Room
							  option Single Bed
							  option Double Bed
							  option Suite
							
						div.form-group
							label.sr-only for="date" Date
							input#date
                            input.form-control placeholder="Date &amp; Time" type="text"
							
						div.form-group
							label.sr-only for="message" Message
							textarea#message name="" id="message" cols="30" rows="5"
                            textarea.form-control placeholder="Message"
						
						div.form-group
							input.btn btn-primary" value="Send Message" type="submit"
				div.row
					div.col-md-6 to-animate-2
						h3 ('Contact Info)
						ul.fh5co-contact-info
							li.fh5co-contact-address
								i.icon-home
								(5555 Love Paradise 56 New Clity 5655, <br>Excel Tower United Kingdom)
						
							li 
                                i.icon-phone ((123) 465-6789)
							li
                                i.icon-envelope (info@freehtml5.co)
							li
                                i.icon-globe
                                a (href="http://freehtml5.co/" target="_blank")