extends layout 
block content 
#fh5co-contact(data-section='reservation')
  .container
    .row.text-center.fh5co-heading.row-padded
      .col-md-8.col-md-offset-2
        h2.heading.to-animate Reserve a Table
        p.sub-heading.to-animate
          | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    .row
      .col-md-6.to-animate-2
        h3 Contact Info
        ul.fh5co-contact-info
          li.fh5co-contact-address
            i.icon-home
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;5555 Love Paradise 56 New Clity 5655, 
            br
            | Excel Tower United Kingdom
          li
            i.icon-phone
            |  (123) 465-6789
          li
            i.icon-envelope
            | info@freehtml5.co
          li
            i.icon-globe
            a(href='http://freehtml5.co/' target='_blank') freehtml5.co
      .col-md-6.to-animate-2
        h3 Table Reservation
        .form-group
          label.sr-only(for='name') Name
          input#name.form-control(placeholder='Name' type='text')
        .form-group
          label.sr-only(for='email') Email
          input#email.form-control(placeholder='Email' type='email')
        .form-group
          label.sr-only(for='occation') Occation
          select#occation.form-control
            option Select an Occation
            option Wedding Ceremony
            option Birthday
            option Others
        .form-group
          label.sr-only(for='date') Date
          input#date.form-control(placeholder='Date & Time' type='text')
        .form-group
          label.sr-only(for='message') Message
          textarea#message.form-control(name='' cols='30' rows='5' placeholder='Message')
        .form-group
          input.btn.btn-primary(value='Send Message' type='submit')
      .col-md-6.to-animate-2
        h3 Room Reservation
        .form-group
          label.sr-only(for='name') Name
          input#name.form-control(placeholder='Name' type='text')
        .form-group
          label.sr-only(for='email') Email
          input#email.form-control(placeholder='Email' type='email')
        .form-group
          label.sr-only(for='occation') Room
          select#room.form-control
            option Select a Room
            option Single Bed
            option Double Bed
            option Suite
        .form-group
          label.sr-only(for='date') Date
          input#date.form-control(placeholder='Date & Time' type='text')
        .form-group
          label.sr-only(for='message') Message
          textarea#message.form-control(name='' cols='30' rows='5' placeholder='Message')
        .form-group
          input.btn.btn-primary(value='Send Message' type='submit')
